@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap");
:root {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-rows: auto min(80vh, 28rem);
  gap: 1rem;
  background-color: #e0e0e0;
  width:  72vh;
    height: 65vh;
  padding: 1rem;
  border-radius: 0px;
  position: absolute;
  top: 49%;
  left: 40%;
  translate: -50% -50%;
}
main .nav {
  position: relative;
  height: 4vh;
}
main .nav .triggers {
  display: flex;
  flex-flow: row;
  user-select: none;
  width: 67vh;
}
main .nav .triggers .trigger-spec {
  position: absolute;
  margin-left: 2px;
  height: 100%;
  border-radius: 12px;
  transition: transform 0.5s ease-out;
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
}
main .nav .triggers .trigger {
  text-align: center;
  flex: 1 0 10ch;
  margin: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  color: gray;
  transition: color 0.5s ease-out;
  z-index: 1;
}
main .nav .triggers .trigger.active {
  color: #000;
}
main .nav .triggers .trigger:hover {
  cursor: pointer;
}
main .content {
  border-radius: 0px;

  padding: 1rem 0;
  position: relative;
  top: -95px;
}
main .content .targets {
  position: relative;
  height: 15vh;
  width: 78rem;
  margin: auto;
  border-radius: 12px;
  overflow: visible;
  box-shadow: inset 36px 36px 71px #cecece, inset -36px -36px 71px #f2f2f2;
}
main .content .targets .target {
  scrollbar-gutter: stable both-edges;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 12px;
  padding: 1rem;
  position: absolute;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 15px #5a5a5a, -5px -5px 15px #ffffff;
  transform-origin: bottom center;
}
main .content .targets .target::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-top: 12px;
  margin-bottom: 12px;
}
main .content .targets .target::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 12px;
  margin-bottom: 12px;
}
main .content .targets .target:not(.active) {
  animation: goBack 1s ease-in-out forwards;
}
main .content .targets .target.active {
  z-index: 2;
}
main .content .targets .target.slideRight {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: slideRight;
}
main .content .targets .target.slideLeft {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: slideLeft;
}
main .content .targets .target::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
main .content .targets .target::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}
main .content .targets .target::-webkit-scrollbar {
  width: 16px;
}

@keyframes slideRight {
  0% {
    transform: translateX(0%) rotatez(0deg);
    z-index: 0;
  }
  49% {
    transform: translateX(100%) translateX(0.5rem) rotatez(10deg);
    z-index: 0;
  }
  51% {
    z-index: 2;
  }
  100% {
    transform: translateX(0%) rotatez(0deg);
    z-index: 2;
  }
}
@keyframes goBack {
  0% {
    z-index: 2;
  }
  1% {
    z-index: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    z-index: 0;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0%) rotatez(0deg);
    z-index: 0;
  }
  49% {
    transform: translateX(-100%) translateX(-0.5rem) rotatez(-10deg);
    z-index: 0;
  }
  51% {
    z-index: 2;
  }
  100% {
    transform: translateX(0%) rotatez(0deg);
    z-index: 2;
  }
}
.shadow-out {
    box-shadow: 3px 3px 6px #00000047, -3px -3px 6px #0000;
    border: 1px solid #0000002e;
    border-radius: 0px;
}
.shadow-out-hover:hover {
    box-shadow: inset 2px 2px 5px #0000001c, inset -3px -3px 7px #0000002e;
    border: 1px solid #5555554f;
    border-radius: 25px;
}
.shadow-in {
    box-shadow: inset 2px 2px 5px #00000057, inset -3px -3px 7px #0000 !important;
    border: 1px solid #0000002a !important;
    border-radius: 6px !important;
}
.shadow-in2 {
    box-shadow: inset 2px 2px 5px #0000001c, inset -3px -3px 7px #0000002e !important;
    border: 1px solid #5555554f !important;
    border-radius: 55px !important;
}



@import url("https://fonts.googleapis.com/css?family=Mukta:700");

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
  background-color: #c81f4b;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


/* Base page styles */

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}



ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
  li {
    display: inline-block;
    margin: 0 20px;
  }


/* Base Button Style */
.btns {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 10px;

  background-color: #ededed;
  border: 1px solid #d4d4d4;

  color: #646464;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transform-style: flat;
  transition: all 250ms ease-out;

  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
    	transition: all 250ms ease-out;
  }
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise {
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    border: 1px solid #fff;

    &:before {
			box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    }
  }
}

.paper-raise-flatten {
  border-color: #fff;
  box-shadow: none;

  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  }
  &:hover {
    border-color: #dedede;

    &:before {
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    }
  }
}


/* Lift effect – lifts sides on hover */
.paper-lift {
	&:before,
	&:after {
		bottom: 15px;
     width: 50%;
     height: 20%;
     max-width: 300px;
     max-height: 100px;

		box-shadow: 0 10px 10px rgba(31, 31, 31, 0.5);
	}
  &:before {
    left: 8px;
    transform: rotate(-3deg);
	}
  &:after {
    right: 8px;
    transform: rotate(3deg);
	}

  &:hover {
    border-color: transparent;

    &:before,
    &:after {
	    box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
    }
    &:before {
    	left: 10px;
    }
    &:after {
      right: 10px;
    }
  }
}

/* Flatten effect – flattens sides on hover */
.paper-flatten {
  border: 1px solid transparent;
	&:before,
	&:after {
		bottom: 15px;
     width: 50%;
     height: 20%;
     max-width: 300px;
     max-height: 100px;

     box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
	}
  &:before {
    left: 10px;
    transform: rotate(-3deg);
	}
  &:after {
    right: 10px;
    transform: rotate(3deg);
	}

  &:hover {
    border-color: #ccc;

    &:before,
    &:after {
      transition: box-shadow 600ms ease-out, left 200ms, right 200ms;
	    box-shadow: 0 8px 8px rgba(31, 31, 31, 0.5);
    }
    &:before {
    	left: 5px;
    }
    &:after {
      right: 5px;
    }
  }
}


/* Curl effects – curls corners on hover */
.paper-curl,
.paper-curl-right {
  &:before,
  &:after {
    bottom: 12px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
	 box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
  }
  &:before {
    left: 10px;
  }
  &:after {
    right: 10px;
  }

  &:hover {
    &:before,
    &:after {
      box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
    }
    &:before {
	    transform: skew(-8deg) rotate(-3deg);
    }
    &:after {
      transform: skew(8deg) rotate(3deg);
    }
  }
}
.paper-curl {
  &:hover {
    border-radius: 0 0 40% 40% / 0 0 30% 30%;
  }
}
.paper-curl-right {
  &:before {
    display: none;
  }

  &:hover {
    border-radius: 0 0 40% 0 / 0 0 30% 0;
	}
}

/* Curl effects – curls right hand side on hover */
.paper-curl-right-side {
  &:before,
  &:after {
    right: 10px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
  }
  &:before {
    top: 12px;
    box-shadow: 1px -4px 12px rgba(31, 31, 31, 0.6);
  }
  &:after {
    bottom: 12px;
    box-shadow: 1px 4px 12px rgba(31, 31, 31, 0.6);
  }
  &:hover {
    right: 0;
    border-radius: 0 3% 3% 0 / 0% 50% 50% 0;

    &:before {
      box-shadow: 10px -4px 12px rgba(31, 31, 31, 0.8);
	    transform: skew(-8deg) rotate(-3deg);
    }
    &:after {
      box-shadow: 10px 4px 12px rgba(31, 31, 31, 0.8);
      transform: skew(8deg) rotate(3deg);
    }
  }
}

.footerLink {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 0;
  text-decoration: none;
  transition: 300ms;

  &:hover {
    background-color: rgba(60, 60, 60, 0.8);
  }
}



@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

*:focus,
*:active {
outline: none !important;
-webkit-tap-highlight-color: transparent;
}


.wrapper {
display: inline-flex;
}

.wrapper .icon {
position: relative;
background: transparent;
border-radius: 50%;
padding: 15px;
margin: 10px;
width: 50px;
height: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
-webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-moz-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-ms-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 14px;
background: #fff;
color: #ffffff;
padding: 5px 8px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
border-radius: 4px;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
}
.wrapper .tooltip2 {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: transparent;
  color: #ffffff;
  padding: 5px 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  }

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background: #fff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-webkit-transform: translate(-50%) rotate(45deg);
-moz-transform: translate(-50%) rotate(45deg);
-ms-transform: translate(-50%) rotate(45deg);
-o-transform: translate(-50%) rotate(45deg);
-webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
-o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.01);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
background: #ffffff;
color: #000000;
}
.wrapper .face:hover,
.wrapper .face:hover .tooltip,
.wrapper .face:hover .tooltip::before
{
  background: #ffffff;
  color: #000;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
background: #c81f4b;
color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background: #c81f4b;
color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background: #333333;
color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
background: #e92828;
color: #fff;
}



* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}


body.overflow--allow {
  overflow: scroll;
}

#fullpage {
  position: fixed;
  top: 250px;
  left: 15px;
  width: 65vw;
  height: 40vh;
  z-index: 10;
  background-color: #8f2d5600;
}
#fullpage.position--relative {
  position: relative;
}
#fullpage.position--relative .section {
  top: 0;
}
#fullpage .section {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 500ms ease;
}
#fullpage .section span {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  position: absolute;
  right: 50%;
  top: 40%;
  opacity: 0;
  text-transform: uppercase;
  transform: translate3d(50%, 0, 0);
}
#fullpage .section.current {
  top: 0;
  z-index: 2;
}
#fullpage .section.current span {
  top: 50%;
  opacity: 1;
  transform: translate3d(50%, -50%, 0);
  transition: top 500ms ease 500ms, transform 500ms ease, opacity 500ms ease 500ms;
}
#fullpage .section:nth-child(even) {
  background-color: #d81159;
}
#fullpage .section:nth-child(odd) {
  background-color: #ffbc42;
}

#content {
  position: relative;
  width: 100vw;
  height: 100vh;
}


